.footer {
  padding: 30px 0;
  text-align: center;
  background-color: var(--lt-color-light);
  color: var(--secondary-text-light);
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark .footer {
  background-color: var(--lt-color-dark);
  color: var(--secondary-text-dark);
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.footer-content p {
  font-size: 1rem;
  margin: 5px 0;
  color: var(--primary-text-light);
}

body.dark .footer-content p {
  color: var(--lt-color-light);
}

.social-links {
  display: flex;
  gap: 20px;
  font-size: 1.5rem;
  justify-content: center;
}

.social-links a {
  color: whitesmoke;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
}

.social-links a:hover {
  transform: scale(1.1);
}

.social-links a:nth-child(1):hover {
  color: #0077B5; 
}

.social-links a:nth-child(2):hover {
  color: #181717; 
}

.social-links a:nth-child(3):hover {
  color: #DB4437;
}

.social-links i {
  font-size: 2rem;
}

.social-links a:focus {
  outline: none;
}

