.footer {
  padding: 1rem;
  background-color: var(--lt-color-dark);
  color: var(--secondary-text-dark);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 1.5rem;
}

.footer-left {
  flex: 1;
  text-align: left;
  min-width: 250px;
}

.footer-left h2 {
  text-align: left;
  font-size: 2rem;
  margin-bottom: auto;
  color: var(--lt-color-light);
}

.footer-left p {
  font-size: 1rem;
  color: var(--accent-light);
}

.footer-left a {
  color: var(--button-text-light);
  text-decoration: none;
}

.footer-left a:hover {
  color: var(--lt-color-light);
}

.footer-center {
  flex: 1;
  text-align: center;
  min-width: 250px;
}

.footer-right {
  flex: 1;
  text-align: right;
  min-width: 250px;
}

.social-links {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.social-links a {
  color: var(--button-text-light);
  font-size: 1.5rem;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
}

.social-links a:hover {
  transform: scale(1.1);
}

.social-links a:nth-child(1):hover {
  color: #0077b5;
}

.social-links a:nth-child(2):hover {
  color: #181717;
}

.social-links a:nth-child(3):hover {
  color: #db4437;
}

.social-links i {
  font-size: 2rem;
}

.social-links a:focus {
  outline: none;
}

.footer-right p {
  font-size: 0.9rem;
}

.footer-bottom {
  text-align: center;
  font-size: 1rem;
  color: var(--button-text-light);
  border-top: 2px solid var(--primary-text-light);

}
