:root {
  /* Light Theme Colors */
  --primary-bg-light: #e0f7fa;
  --primary-text-light: #004d40;
  --secondary-text-light: #00796b;
  --accent-light: #0cb6a5;
  --button-bg-light: #0288d1;
  --button-text-light: #ffffff;
  --bg-color-light: #ffffff;
  --lt-color-light: #b2ebf2;

  /* Dark Theme Colors */
  --primary-bg-dark: #263238;
  --primary-text-dark: #e0f7fa;
  --secondary-text-dark: #80deea;
  --accent-dark: #00897b;
  --button-bg-dark: #00796b;
  --button-text-dark: #ffffff;
  --bg-color-dark: #37474f;
  --lt-color-dark: #263238;
}

* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  scroll-behavior: smooth;
}

body {
  max-width: 3840px;
  margin: 0 auto;
}

section {
  max-width: 3840px;
  margin: 0 auto;
  padding: 2rem;
}

/* Light Theme */
body.light {
  background-color: var(--primary-bg-light);
  color: var(--primary-text-light);
}

/* Dark Theme */
body.dark {
  background-color: var(--primary-bg-dark);
  color: var(--primary-text-dark);
}
